@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Doto:wght@100..900&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Fascinate+Inline&family=Italiana&family=Modern+Antiqua&family=Mozilla+Headline:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0; padding: 0; 
    font-family: 'Poppins', serif;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 20%);
}
#card{
   width: 90%;
   max-width: 500px;
   background: linear-gradient(135deg, #3a8dff, #ffe873);
   color: white;
   margin: 100px auto 0;    /* top left-right bottom */
   border-radius: 10px;
   padding: 40px 35px;
   text-align: center;
}
#search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search-input{
    border: 0;
    outline: 0;
    background: white ;
    color: navy;
    caret-color: #3a8dff;
    padding: 12px 25px;
    height: 60px;
    border-radius: 50px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px ;
}
#search-btn{
    border: 0;
    outline: 0;
    background: white ;
    border-radius: 50%;
    width: 60px; height: 60px;
    cursor: pointer;
}
#search-btn img{
    width: 16px;
}

